/* General Styles */
.accountInfo {
  margin: 115px 0;
}
.accountInfo .container {
  padding: 50px;
  max-width: 60%;
  margin: auto;
}
.accountInfo .content {
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.accountInfo .left,
.accountInfo .right {
  flex: 1 1 100%;
  margin-bottom: 20px;
}

.accountInfo .left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accountInfo .left .img {
  position: relative;
  width: 150px;
  height: 150px;
}
.accountInfo .right {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.accountInfo .left .img input {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.accountInfo .img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.accountInfo .right label {
  font-size: 17px;
  color: #000;
  margin-bottom: 10px;
  display: block;
}
.accountInfo .right input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.accountInfo .right .button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .accountInfo .content {
    flex-wrap: nowrap;
  }
  .accountInfo .left,
  .accountInfo .right {
    flex: 1;
  }
  .accountInfo .left {
    max-width: 150px;
  }
  .accountInfo .right {
    margin-left: 50px;
  }
}
